[App]
FIBARO_LOGIN = {{ fibaro_login }}
FIBARO_PASSWORD = {{ fibaro_password }}
FIBARO_URL =  {{ fibaro_url }}

ELASTICSEARCH_LOGIN = {{ elasticsearch_login }}
ELASTICSEARCH_PASSWORD = {{ elasticsearch_password }}
ELASTICSEARCH_URL = {{ elasticsearch_url}}
APM_URL = {{ elasticsearch_apm_url }}

NEO4J_URL: {{ neo4j_url }}
NEO4J_LOGIN: {{ neo4j_user }}
NEO4J_PASSWORD: {{ neo4j_password }}
NEO4J_DB: {{ neo4j_db }}

EVENTS_INDEX = {{ elasticsearch_index_events }}
CLIMATE_INDEX = {{ elasticsearch_index }}
POWER_INDEX = {{ elasticsearch_index_power }}
RESOURCES_INDEX = {{ elasticsearch_index_resources }}
THERMOSTAT_INDEX = {{ elasticsearch_index_thermostat }}
ZWAVE_INDEX = {{ elasticsearch_index_zwave }}