{
  "policy": {
    "phases": {
      "hot": {
        "actions": {
          "rollover": {
            "max_size": "{{elasticsearch_roll_size}}",
            "max_age": "{{elasticsearch_roll_date}}"
          }
        }
      },
      "delete": {
        "min_age": "{{elasticsearch_delete_date}}",
        "actions": {
          "delete": {}
        }
      }
    }
  }
}